<!DOCTYPE html>
<html>
<head>
    <title>Gestionar usuarios</title>
</head>
<body>
    <h1>Gestionar usuarios</h1>
    <ul>
        <li><a href="{{ url_for('usuarios.agregar_usuario') }}">Agregar usuario</a></li>
        <li><a href="/modificar_usuario">Modificar usuario</a></li>
        <li><a href="/ver_lista_usuarios">Ver lista de usuarios</a></li>
        <li><a href="/eliminar_usuario">Eliminar usuario</a></li>
        <li><a href="/logout">Salir</a></li>
    </ul>
    
   
</body>
</html>
